<div class="container">
  <% if @profile %>
    <% user = @profile.user %>
    <div class="col-md-12">
      <div class="card border-info mx-sm-1 p-3" style="width: 100%; margin-top: 10rem;">
        <div class="card border-info shadow text-info p-3 profile-image">
          <% if @profile.image.present? %>
            <%= image_tag @profile.image.url, class: '' %>
          <% else %>
            <%= image_tag(image_path('avatar.jpg'), style: 'width: 100%') %>
          <% end %>
          <% if signed_in? && (current_user == @author || @profile == current_user.profile) %>
            <button type="button" class="icon2" data-toggle="modal" data-target="">
              <i class="fa fa-pencil-square-o"></i>
            </button>
          <% end %>
          <div class="text-info text-center text-uppercase w-100">
            <h4><%= @profile.name || @profile.user.email.split('@').first.humanize %></h4>
          </div>
        </div>
        <div class="row vertical-divider ">
          <div class="col-md-6 ">
            <p class="h4 text-info">Activities</p>
            <hr>
            <div class="row ml-5 text-left">
              <dt class="col-md-5">Products Entered:</dt>
              <dd class="col-md-7"><%=@author.products.size%></dd>
            </div>
            <div class="row ml-5 text-left">
              <dt class="col-md-5">Products Sold:</dt>
              <dd class="col-md-7"><%=@products_sold%></dd>
            </div>
            <div class="row ml-5 text-left">
              <dt class="col-md-5">Products Bought:</dt>
              <dd class="col-md-7"><%=@products_bought%></dd>
            </div>
          </div>
          <div class="col-md-6">
            <p class="h4 text-info">Details</p>
            <hr>
            <div class="row ml-5 text-left">
              <dt class="col-md-3">Email:</dt>
              <dd class="col-md-9 text-left"><%=@author.email%></dd>
            </div>
            <div class="row ml-5 text-left">
              <dt class="col-md-3">Country:</dt>
              <dd class="col-md-9 text-left"><%=@profile.country || "N/A"%></dd>
            </div>
            <div class="row ml-5 text-left">
              <dt class="col-md-3">Location:</dt>
              <dd class="col-md-9 text-left"><%=@profile.location || "N/A"%></dd>
            </div>
            <div class="row ml-5 text-left">
              <dt class="col-md-3">Mobile:</dt>
              <dd class="col-md-9 text-left"><%=@profile.mobile || "N/A"%></dd>
            </div>
          </div>
        </div>
        <hr>
        <div class="ml-auto">
          <% if user == current_user %>
            <%= link_to 'Change Password', edit_user_registration_path, class: 'user-content text-info float-right' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
  <%= link_to 'Go to Dashboard', profile_path(current_user.profile), class: 'btn btn-info'  %>
<% end %>
</div>
<!-- Bio Edit -->
<div class="modal fade" id="bio">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Bio</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <%= form_for @profile, html: { id: :bio_form } do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :write_about_yourself, class: 'label' %>
            <%= f.cktext_area :bio,
            hint: "leave it blank if you don't want to add it",
            required: false,
            class: 'form-control' %>
            <p class='error' id="bio-error"><%= show_errors(@profile , :bio) %></p>
          </div>
        </div>
        <div class="modal-footer text-center">
          <%= f.button 'Update Bio', type: :button, class: 'btn btn-success', id: "bio-validate" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
