<div class="container w-50">
  <%= form_for @product, html: { multipart: true } do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group row">
      <label for="productCategory" class="col-sm-2 col-form-label">Product Category</label>
      <div class="col-sm-10 category-select">
        <%= f.collection_select :category_id, Category.order(:name),:id,:name, {prompt: "Select a category"}, required: true %>
      </div>
    </div>
    <div class="form-group row">
      <label for="productName" class="col-sm-2 col-form-label">Product Name</label>
      <div class="col-sm-10">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control', placeholder: 'Product Name', required: true %>
      </div>
    </div>
    <div class="form-group row">
      <label for="productPrice" class="col-sm-2 col-form-label">Price</label>
      <div class="col-sm-10">
        <%= f.number_field :price, step: 0.5, autocomplete: "price", class: 'form-control', placeholder: 'Price', required: true %>
      </div>
    </div>
    <div class="form-group row">
      <label for="productPrice" class="col-sm-2 col-form-label">Image</label>
      <div class="col-sm-10">
        <%= f.file_field(:image, accept: 'image/png,image/gif,image/jpeg', class: 'form-control') %>
      </div>
    </div>
    <div class="form-group row">
      <label for="productDescription" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <%= f.text_area :description, autocomplete: "description", class: 'form-control', placeholder: 'Description' %>
      </div>
    </div>
    <div class="form-group row">
      <label for="lastBiddingDate" class="col-sm-2 col-form-label">Last Date</label>
      <div class="col-sm-10">
        <%= f.date_field :last_bidding_date, autocomplete: "last_bidding_date", class: 'form-control', placeholder: 'Last Date', options: { min: Date.today } %>
      </div>
    </div>
    <div class="form-group row">
      <div class="actions col-sm-6">
        <%= f.submit "Submit", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
