<!DOCTYPE html>
<html>
<head>
  <title>OnlineAuction</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= render "layouts/sidenav" %>
  <%= render "layouts/navbar" %>

  <div class="main">
    <%= yield %>
    <%= render "layouts/team" %>
  </div>

</body>
</html>
